.chatsection{
    background-color:var(--background-color);
    height: 100vh;
    flex:1;
}
.topsection{
    width:100%;
    height:75vh;
}
.bottomsection{
    width: 100%;
    height:25vh;
    display:flex;
    align-items: center;
    justify-content:center;
    gap:10px;
}
.headings{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size:2vmax;   
    text-align:center;
}
.headings span:nth-child(1){
    font-size:3em;
    font-weight:600;
    background: linear-gradient(to right, rgb(222, 19,101),rgb(89, 190, 215), rgb(171, 168, 168));
    background-clip:text;
    color:transparent;
}
.headings span:nth-child(2){
    font-size:2.5em;
    font-weight:600;
    background: linear-gradient(to right, rgb(19, 198,222),rgb(212, 31, 107), rgb(130, 129, 129));
    background-clip:text;
    color:transparent;
}
.headings span:nth-child(3){
    font-size:2em;
    background-clip:text;
    color:var(--color);
    opacity:0.8;
}
.bottomsection input{
    width:50%;
    height:6px;
    padding:20px;
    font-size: 20px;
    background-color:var(--btn-background-color);
    color:var(--btn-color);
    border-radius:40px;
    outline:none;
    border:none;
    box-shadow:2px 2px 10px;


}
.sentbtn{
     width:60px;
    height:60px;
    padding: 10px;
    border-radius:50px;
    border:none;
    background-color:var(--btn-background-color);
    transition: all 0.5s;
    cursor:pointer;
    box-shadow:2px 2px 10px;
}

.sentbtn:hover{
     background-color:var(--hover-btn-background-color);
}
.sentbtn svg{
    width:30px;
    height:30px;
    color:var(--btn-color);
}
.userbox{
    display:flex;
    gap:20px;
    align-items:center;
    color:var(--color);
}
.aibox{
    display:flex; 
    gap:20px;
    align-items:start;
    color:var(--color);
}
.aibox p{
    width:100%;
    height:400px;
    overflow: auto;
    scrollbar-width:none;
}

.result{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:100%;
    height:100%;
    padding: 40px 20px;
}
.result img{
    filter:drop-shadow(2px 2px 10 black);

}
.loader{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.loader hr{
    height:20px;
    border:none;
    border-radius:20px;
    background:linear-gradient(to right, rgb(63, 205, 227),var
    (--background-color),rgb(63, 205, 227));
    background-size:800px 50px;
    animation: loader 2s linear infinite;
}
@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}
.image{
    border-radius:300px;
    width:40px;
}

@media(max-width:800px){
    .headings{
    font-size:1vmax;
    padding:10px;
  }
}