.sidebar{
    padding:20px 10px;
    height: 100vh;
    overflow:auto;
    background-color:var(--background-color);
    color:var(--color);
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:start;
    scrollbar-width:none;
}
.sidebar.svg{
    width:30px;
    height:30px;
    color:var(--color);
}
#ham{
    margin-left :10px;
    cursor:pointer;
    transition:all 0.2s;
}
.newchat{
    display:flex;
    align-items: center;
    justify-contenty: center;
    gap:10px;
    background-color:rgb(121, 120, 122);
    padding:15px;
    border-radius:30px;
    cursor:pointer;
    transition:all 0.2s;
}
.recent{
    display:flex;
    align-items: center;
    justify-contenty: center;
    gap:10px;
    padding: 15px;
    border-radius:30px;
    cursor:pointer;
    transition:all 0.2s;
    
}

.recent:hover{
    background-color:rgb(82, 85, 86);

}
.newchat:hover{
    background-color:rgb(82, 85, 86);
    
}

@media(max-width:600px){
    .sidebar{
        display:none;
    }
}